/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--themes-main-color);
  font-family: var(--main-font), sans-serif;
  background-color: var(--themes-background, #fff);
  background-image: repeating-linear-gradient(
      0deg,
      var(--background-color, #d3d3d3) 0 2px,
      transparent 2px 4px
    ),
    repeating-linear-gradient(
      90deg,
      var(--background-color, #d3d3d3) 0 2px,
      transparent 2px 4px
    ),
    linear-gradient(
      180deg,
      var(--gradient-first-color, #e7e7e7) 0.01%,
      var(--gradient-second-color, #1a1a1a) 100%
    );
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  font-variation-settings: "wght" var(--font-main-weight);
  min-inline-size: 320px;
  min-block-size: 100dvb;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-block-start: 100px;
  margin-block-end: 100px;
  border: 2px solid var(--themes-main-color, #000);
  padding-block-start: 136px;
  padding-block-end: 23px;
  font-family: var(--accent-font), fantasy;
  background-color: var(--themes-background, #fff);
  max-inline-size: 700px;
  inline-size: 100%;
}

.header__logo {
  margin-block-end: 20px;
  font-family: var(--accent-font), fantasy;
  font-weight: 400;
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  line-height: 1;
}

.header__title {
  margin-block-end: 25px;
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  line-height: 1;
  text-transform: uppercase;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-inline-start: 20px;
}

.theme-menu__button {
  position: relative;
  display: flex;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  background-color: transparent;
}

.theme-menu__button::after {
  content: '';
  position: absolute;
  display: block;
  background-color: var(--themes-main-color, #000);
  transition: transform 0.3s ease;
  transform: scaleX(0);
  transform-origin: left;
  block-size: 2px;
  inline-size: 88%;
  inset-block-end: -2px;
}

.theme-menu__button:focus {
  outline: none;
}

.theme-menu__button:focus-visible::after {
  transform: scaleX(1);
}

.theme-menu__button:focus-visible,
.theme-menu__button:hover,
.theme-menu__button:disabled {
  opacity: 0.6;
  transition: 0.3s ease;
}

.theme-menu__button:focus-visible::before {
  opacity: 0.6;
  transition: 0.3s ease;
  transform: scale(1);
  transform-origin: 0%;
}

.theme-menu__button:disabled {
  pointer-events: none;
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  left: -18px;
  animation: 0.5s ease-in-out infinite alternate arrow-move;
}

.section__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  max-inline-size: 700px;
}

.card {
  border: 2px solid var(--themes-main-color);
  background-color: var(--themes-background);
}

.card__title {
  padding-inline: 10px;
  padding-block: 5px;
  font-size: 18px;
  line-height: normal;
  font-variation-settings: "wght" var(--font-accent-weight);
}

.card__container {
  position: relative;
  display: flex;
  border-block-start: 2px solid var(--themes-main-color);
  border-block-end: 2px solid var(--themes-main-color);
}

.card__about-text {
  color: var(--themes-main-color, #000);
  font-size: 18px;
  line-height: 21px;
  font-variation-settings: "wght" var(--font-main-weight);
}

.card__content {
  position: relative;
}

.watermark {
  content: "";
  position: absolute;
  top: 25px;
  right: 25px;
  z-index: 1;
  opacity: 0.5;
  color: var(--themes-main-color, #000);
  font-family: var(--accent-font), fantasy;
  font-size: 14px;
  text-shadow: 1px 1px var(--themes-background, #fff),
    -1px -1px var(--themes-background, #fff),
    -1px 1px var(--themes-background, #fff),
    1px -1px var(--themes-background, #fff);
  mix-blend-mode: hard-light;
}

.card__image {
  position: relative;
  height: auto;
  object-fit: cover;
  object-position: 100%;
  aspect-ratio: 1/1;
  max-inline-size: 100%;
}

.card__image-sheet {
  filter: saturate(20%) brightness(1.2);
}

.card__image-what {
  filter: saturate(350%);
}

.card__image-ideal {
  filter: hue-rotate(30deg);
}

.card__image-near {
  filter: invert(80%);
}

.card__image-strategy {
  filter: sepia(90%) grayscale(10%);
}

.card__image-give-up {
  filter: blur(20px);
}

.card__image-now {
  filter: saturate(250%) hue-rotate(110deg) contrast(50%) blur(2px);
}

.card__about {
  display: grid;
  gap: 25px;
  padding-inline: 25px;
  padding-block: 25px;
}

.card__about-text:not(:last-child) {
  margin-block-end: 27px;
}

.card__icon-button-wrapper {
  display: flex;
  justify-content: flex-end;
  gap: 2px;
}

.card__icon-button {
  display: flex;
  background-color: var(--themes-background, #fff);
}

.card__icon-button .like-icon {
  outline: 2px solid transparent;
  transition: 0.3s ease;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible .like-icon {
  outline: 2px solid var(--themes-main-color, #000);
}

.main-body {
  fill: var(--themes-background, #fff);
  stroke: var(--themes-background, #fff);
  transition: 0.3s ease-in-out;
}

.sparks {
  opacity: 0;
}

.contour {
  fill: var(--themes-main-color, #000);
}

.core {
  fill: var(--themes-background, #fff);
  transition: 0.3s ease-in-out;
}

.like-icon:hover .main-body {
  fill: var(--themes-main-color, #000);
  stroke: var(--themes-main-color, #000);
  transition: 0.3s ease-in-out 0.05s;
}

.like-icon:active .main-body {
  fill: #ff0000;
  stroke: #ff0000;
  transition: 0.3s ease-in-out 0.05s;
}

.like-icon:hover .core {
  fill: var(--themes-main-color, #000);
  transition: 0.3s ease-in-out 0.03s;
}

.like-icon:active .core {
  fill: #ff0000;
  transition: 0.3s ease-in-out;
}

.like-icon.is-liked .core {
  fill: #ff0000;
}

.like-icon.is-liked .main-body {
  fill: #ff0000;
  stroke: #ff0000;
}

.like-icon.is-liked .contour {
  fill: #ff0000;
  stroke: #ff0000;
  transition: 0.3s ease-in-out 0.06s;
}

.like-icon.is-liked .heart {
  fill: #ff0000;
  stroke: #ff0000;
  transform-origin: 50%;
  animation: 0.3s ease-in 0.1s alternate like-heart;
}

.like-icon.is-liked .sparks {
  animation: 0.3s ease-in 0.3s alternate like-heart-fill;
}

.button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--themes-main-color);
  overflow: hidden;
  font-family: var(--accent-font), fantasy;
  font-weight: 400;
  font-size: 14px;
  line-height: 90%;
  background-color: var(--themes-background, #fff);
  transition: 0.5s ease-in-out; 
}

.button:before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  background-color: var(--themes-main-color, #000);
  transition: 0.5s ease-in-out;
  inline-size: 100%;
  block-size: 100%;
}

.card__like-button {
  min-inline-size: 130px;
  min-block-size: 38px;
}

.save-button {
  gap: 8px;
  min-inline-size: 339px;
  min-block-size: 55px;
}

.dialog__button {
  inline-size: 100%;
  min-block-size: 39px;
}

.button:focus {
  outline: none;
}

.button:hover {
  color: var(--themes-background, #fff);
}

.button:hover:before {
  left: 0;
}

.button:focus-visible {
  box-shadow: 2px 2px var(--themes-main-color, #000);
  color: var(--themes-main-color, #000);
  transition: 0.3s ease;
}

.button__text {
  z-index: 1;
  color: var(--button-color, #fff);
  transition: 0.5s ease-in-out;
  mix-blend-mode: difference;
}

.button:hover .button__text {
  color: var(--button-color, #fff);
}

.button__save-wrapper {
  display: flex;
  justify-content: center;
  padding-block-start: 50px;
  padding-block-end: 103px;
}

.svg-floppy {
  z-index: 1;
  transition: 0.5s ease-in-out;
}

.save-svg-floppy{
  color: var(--button-color, #fff);
  block-size: 21px;
  inline-size: 21px;
  mix-blend-mode: difference;
}

.dialog-svg-floppy {
  color: var(--themes-main-color, #000);
  block-size: 39px;
  inline-size: 39px;
}

.button:hover .svg-floppy {
  color: var(--button-color, #fff);
}

.dialog[open] {
  display: flex;
}

.dialog {
  flex-direction: column;
  gap: 30px;
  border: 2px solid var(--themes-main-color, #000);
  padding-inline: 30px;
  padding-block: 30px;
  font-family: var(--accent-font), fantasy;
  background-color: var(--themes-background, #fff);
  min-block-size: 192px;
  min-inline-size: 356px;
}

.dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.dialog__title-wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
}

.dialog__title {
  color: var(--themes-main-color, #000);
  font-family: var(--accent-font), fantasy;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
  max-inline-size: 234px;
}

.dialog-form {
  display: flex;
}

@media (width<=375px) {
  .header {
	  padding-block-start: 120px;
    min-block-size: 327px;
    min-inline-size: 375px;
  }

  .card {
    min-inline-size: 375px;
  }

  .button__save-wrapper {
    padding-block-end: 100px;
  }

  .watermark {
    right: 11px;
  }

  .save-button {
    flex-direction: column;
    min-block-size: 84px;
    min-inline-size: 310px;
  }

  .svg-floppy {
    block-size: 28px;
    inline-size: 28px;
  }

  .dialog {
    padding-inline: 40px;
    min-block-size: 195px;
    min-inline-size: 341px;
  }

  .dialog__title {
    max-inline-size: 198px;
  }
}

@supports ((text-stroke: 1px #fff) or (-webkit-text-stroke: 1px #fff)) {
  .watermark {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--themes-background, #fff);
    text-stroke: 1px var(--themes-background, #fff);
  }
}